.glass {
  position: relative;
  top: 220px;
  width: 70px;
  height: 85px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  @media only screen and (min-width: 280px) and (max-width: 360px){
    width: 57px;
    height: 75px;
  }
}

.hour {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;

  .icon {
    width: 28px;
  }

  @media only screen and (min-width: 280px) and (max-width: 360px) {
    font-size: 14px;
  }
}

