.glass {
  position: relative;
  top: 290px;
  width: 70px;
  height: 85px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  @media only screen and (min-device-width : 280px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    width: 65px;
    height: 80px;
    top: 220px
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    font-size: 14px;
    width: 55px;
  }
}

.hour {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;

  .icon {
    width: 30px;
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
      width: 25px;
    }
  }

  
}

