.data-container {
  @media screen and (min-width: 768px){
    margin-top: 4%;
  }
  @media only screen and (min-width: 280px) and (max-width: 384px) {
    margin-top: 10%;
  }
}



.weather {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  position: relative;
  bottom: -12rem;

  @media screen and (min-width: 600px) and (max-width: 912px) {
    bottom: -15rem;
  }

  @media only screen and (min-width: 390px) and (max-width: 500px) {
    bottom: -15rem;
  }

  @media only screen and (min-width: 280px) and (max-width: 384px) {
    bottom: -14rem;
  }


  .icon {
    width: 60px;
    @media only screen and (min-width: 280px) and (max-width: 384px)  {
      width: 28px;
    }
  }

  .weather-text  {
    color: white;
    font-weight: 300;
    font-size: 18px;
    @media only screen and (min-width: 280px) and (max-width: 384px) {
      font-size: 13px;
    }
  }

  .weather-num {
    color: white;
    font-weight: 300;
    font-size: 85px;
    position: relative;
    bottom: 12px;
    margin: 0;
    @media only screen and (min-width: 280px) and (max-width: 384px) {
      font-size: 55px;
    }
  }
}

.loader {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}