.data-container {
  @media screen and (min-width: 768px){
    margin-top: 4%;
  }
  @media only screen and (min-width: 280px) and (max-width: 384px) {
    margin-top: 10%;
  }
}

.contenedor-de-todo {
  height: 100%;
}

.weather {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 0;


  

  .icon {
    width: 60px;

    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
      width: 40px;
    }
  }

  .weather-text  {
    color: white;
    font-weight: 300;
    font-size: 18px;
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
      font-size: 15px;
    }
  }

  .weather-num {
    color: white;
    font-weight: 300;
    font-size: 85px;
    position: relative;
    bottom: 12px;
    margin: 0;
    @media only screen and (min-device-width : 280px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
      font-size: 80px;
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
      font-size: 50px;
    }
  }
}

.loader {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}