

.glasslg {
  position: relative;
  top: 161px;
  // width: 420px;
  height: 120px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;

  @media screen and (min-width: 768px) {
    width: 600px;
    margin: 0 auto;
  }

  @media only screen and (min-device-width : 280px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    top: 15vh;
    height: 94px;
  }
}

.card-lg {
  padding: 10px;
  display: flex;
  justify-content: space-around;

  .day {
    color: white;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

    span {
      display: block;
      font-size: 12px;
      text-align: center;
    }

    img {
      width: 50px;
      @media only screen and (min-device-width : 280px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
        width: 36px;
      }
      
    }

    @media only screen and (min-device-width : 280px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
      font-size: 17px;
    }
  }
}

