

.glasslg {
  position: relative;
  top: 120px;
  // width: 420px;
  height: 120px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.card-lg {
  padding: 10px;
  display: flex;
  justify-content: space-around;

  .day {
    color: white;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

    span {
      display: block;
      font-size: 12px;
      text-align: center;
    }

    img {
      width: 50px;
    }
  }
}

