body {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding-top: 0.75rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./images/night.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;


  @media screen and (min-width: 700px) {
    background-image: url("./images/cielo-desk.jpg");
  }

  @media only screen and (max-device-width : 870px) and (orientation: landscape) {
    height: 177vh;
  }
}
