html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-image: url("./images/vsky2.jpg");
  background-size: cover;
  @media screen and (min-width: 700px) {
    background-image: url("./images/sky6.jpg");
  }
}

#root {
  height: 100%;
}

.container {
  padding-top: 0.75rem;
  height: 100%;
  position: relative;
}


